# local package
-e .

## core integration
gen3==1.0.1
firecloud==0.16.24

# external requirements

## dot notation dicts
attrdict

## requests cache
requests-cache==0.4.13

## tests
pytest==3.6.3
pytest-cov==2.5.1


## google storage
google-cloud-storage==1.19.1
