# local package
-e .

## core integration
gen3==4.2.0
firecloud==0.16.29


# external requirements

## to read dbGap XML 
xmltodict==0.12.0

## cmd arguments
click==7.1.2

## dot notation dicts
attrdict==2.0.1

## google storage
google-cloud-storage==1.42.3
google-cloud-storage==2.0.0


## gen3 requires pandas
# pandas==0.25.3

## gen3 PFB export
fastavro==1.2.0

## markdown table generator
tabulate

# read google spreadsheet
gspread